<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>

<body>

  <div id="container" class="flex mt-12 items-center justify-center"></div>
  <script src="scripts/posts.js"></script>
</body>

</html>